@font-face{font-family:sahel;
    src:url(../../static/fonts/Sahel-FD.eot);
    src:url(../../static/fonts/Sahel-FD.eot) format("embedded-opentype"),
    url(../../static/fonts/Sahel-FD.woff)  format("woff"),
    url(../../static/fonts/Sahel-FD.ttf) format("truetype");
    font-weight:400
  }
  *{
    font-family: sahel;
  }
  .headline{
    font-family: sahel !important;
  }

  .v-text-field .v-label {
    /* right: 0px !important;
    left: auto !important; */
    padding-left: 8px;
    font-size: 12px;
  }
  .paddinglable {
    padding: 9px;
}
  .margin-auto
  {
    margin: auto;
  }
  table.v-datatable {
    text-align: center !important;
}

table.v-datatable thead tr th {
  text-align: center !important;
}
.paddingdata {
  padding: 8px;
}

.text-left {
  text-align: left;
}

table.v-datatable thead tr th {
  text-align: center !important;
}
.listyle li {
  list-style-type: disc;
  margin-right: 18px;
}
.p-all-5 {
  padding: 14px !important;
}
.v-select__selections {
  padding-right: 5px;
}
i.v-icon.v-icon--right.material-icons.theme--dark {
  font-size: 15px;
  padding: 4px;
  margin-left: 0px !important;
}

.teal {
  background-color: #3f51b5 !important;
}

.v-select__selection--comma{
  padding-left: 8px;

}
.v-toolbar__content{
  padding: 0 36px 0px 14px;
}
.flex.text-left {
  padding-right: 6px !important;
}
